@media (max-width: 767px) {
  .nav-address-item:nth-child(1) .link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    color: var(--iris-color);
  }
  .nav-address-item:nth-child(2) .link {
    font-size: 20px;

    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 0 auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  .mobile-menu-wraper .container-links .footer-container-links-list {
    justify-content: start;
  }
}

@media (max-width: 1157px) {
  .section-portfolio {
    display: none;
  }
  .section-preference-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .container {
    width: 100%;
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-container .menu-nav .header-nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .nav-address {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    color: var(--slate-color);
    margin-left: auto;
  }
  .header-container .nav-address {
    display: block;
  }
  .nav-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    padding: 24px 0;
  }
  .current-page::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--ocean-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .section-solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tablet.jpg);
    max-width: 768px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tablet-2x.jpg);
    }
  }
  .section-solution-container {
    max-width: 496px;
    margin-bottom: 36px;
  }
  .title-first {
    font-size: 56px;
    line-height: 1.07;
  }
  .section-preference {
    padding: 96px 0px;
  }
  .section-preference-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .section-preference-item .title-third {
    text-align: left;
  }
  .section-preference-item {
    max-width: calc((100% - 24px) / 2);
  }
  .section-our-team-list {
    flex-direction: row;
    justify-content: center;
    row-gap: 64px;
  }
  .section-our-team-item {
    max-width: calc((100% - 24px) / 2);
  }
  .section-customers .container,
  .container.footer-container {
    padding: 0 108px;
  }
  .section-customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .footer-container-logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 24px;
    margin: 0;
  }
  .footer-container-links.title-third {
    text-align: left;
  }
  .footer-container-subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .subscribe-email-input {
    width: 264px;
  }
  .backdrop-body {
    width: 408px;
  }

  /*----- PORTFOLIO.HTML -----*/
  /*----- Section Filters -----*/
  .section-filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }
  .section-filters {
    padding-bottom: 96px;
  }
  .filter-button {
    padding: 12px 24px;
  }
  .section-filters .title-third {
    color: var(--navyblue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .filters-portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .section-filters-portfolio-item {
    max-width: calc((100% - (24px)) / 2);
  }
}

@media (min-width: 1158px) {
  .nav-address {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
  .adress-menu {
    flex-direction: row;
    gap: 40px;
  }
  .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    padding: 24px 0px;
  }
  .header-container .logo-text {
    margin-right: 76px;
  }
  .section-solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-desktop.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-desktop-2x.jpg);
    }
  }
  .section-solution-container {
    margin-bottom: 48px;
  }
  .section-portfolio {
    display: inline;
    padding-bottom: 120px;
  }
  .section-preference {
    padding: 120px 0px;
  }
  .section-preference-list {
  }
  .section-preference-item {
    max-width: calc((100% - (24px * 3)) / 4);
  }
  .section-preference-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--cloud-color);
  }
  .section-preference-item .title-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .list-text {
    font-weight: 400;
  }
  .section-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-our-team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .section-our-team-item {
    max-width: calc((100% - (24px * 3)) / 4);
  }
  .section-customers .container,
  .container.footer-container {
    padding: 0 15px;
  }
  .section-customers {
    padding: 120px 0;
  }
  .section-customers-item {
    width: calc((100% - (24px * 5)) / 6);
    height: 88px;
  }

  /*----- Footer -----*/
  .basement {
    padding: 100px 0;
  }
  .footer-container {
    flex-wrap: nowrap;
    align-items: flex-start;
    column-gap: 0;
    row-gap: 0;
  }
  .footer-container-logo {
    margin-left: 0;
    margin-right: 120px;
  }
  .container-links {
    margin-right: 80px;
  }
  .subscribe-email-input {
    opacity: 1;
  }
  .subscribe-email-input::placeholder {
    opacity: 1;
  }

  /*----- PORTFOLIO.HTML -----*/
  /*----- Section Filters -----*/
  .section-filters {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .section-filters-list {
    margin-bottom: 72px;
  }
  .filters-portfolio-list {
    row-gap: 48px;
  }
  .section-filters-portfolio-item {
    max-width: calc((100% - (24px * 2)) / 3);
  }
}
